<h1>Edit media_file</h1>

<form id="edit-media_file" name="media_file">
  <div class="field">
    <label for="media_path"> media_path:</label>
    <input type="text" name="media_path" id="media_path" value="<%= media_path %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Media file" />
  </div>

</form>

<a href="#/index">Back</a>